body {
	margin: 0;
}

.welcome-logo {
	height: 120px;
}

.category-title {
	padding-right: 6%;
	overflow: hidden;

}
.product-media {
	height: 118px;
	min-width: 118px;
	width: 118px;
	object-fit: cover;
}
.product-title {
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	padding-right: 6%;
	overflow: hidden;
}
.product-price {

}
.product-description-container {
	max-width: 100%;
	max-height: 60px;
	overflow: hidden;
}
.product-description-wrapper {
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	padding-right: 6%;
}
.product-description {
	max-width: 100%;
	overflow-wrap: break-word;
}

.product-drawer {
	min-height: 85% !important;
	max-height: 85% !important;
	width:100% !important;
	max-width: 600px;
	margin: auto;
	padding-bottom: 64px;
	z-index: 0;
}

.product-drawer-media-container {
	 position: static !important;
	 width: inherit !important;
}
.product-drawer-media {
	min-width: 100% !important;
	max-width: 100% !important;
	height: auto;
	object-fit: cover;
}
.product-drawer-title {
	padding-top: 12px;
	padding-bottom: 8px;
}
.product-drawer-desc {

}

.product-drawer-qty-icon {
	font-size: 36px !important;
	color: #000000 !important;
}

.product-drawer-qty-icon:disabled {
	color: #00000042 !important;
}

.product-drawer-add-cart-btn {
	max-width: 100%;
	background-color: #000000 !important;
	color: #ffffff !important;
	padding: 12px 24px !important;
	border-radius: 0 !important;
}

.product-drawer-add-cart-container {
	margin: auto !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	top: auto !important;
	max-width: 600px !important;
	padding-top: 6px !important;
	padding-bottom: 16px !important;
	padding-right: 0 !important;
	padding-left: 0 !important;
	background-color: #ffffff !important;
	z-index: 1000000000000;
	position: absolute;
}

.product-drawer-close-btn {
	position: fixed !important;
	background-color: #f5f5f590 !important;
	margin-top: 16px !important;
	margin-left: 16px !important;
	z-index: 100000;
}

.cart-btn-container {
	margin: auto !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	top: auto !important;
	max-width: 800px !important;
	padding-top: 6px !important;
	padding-bottom: 16px !important;
	padding-right: 0 !important;
	padding-left: 0 !important;
	background-color: #ffffff !important;
}

.cart-btn {
	max-width: 100%;
	background-color: #000000 !important;
	color: #ffffff !important;
	padding: 12px 24px !important;
	border-radius: 0 !important;
}

.cart-drawer {
	max-height: 75% !important;
	max-width: 600px;
	margin: auto;
}

.cart-drawer-close-btn {
	z-index: 100000;
}

.information-drawer {
	max-height: 85% !important;
	max-width: 600px;
	margin: auto;
}

.payment-drawer {
	max-height: 85% !important;
	max-width: 600px;
	margin: auto;
}

.payment-drawer-close-btn {
	z-index: 100000;
}

.credit-btn {
	height: 56px;
	background-color: #000000 !important;
	color: #ffffff !important;
	padding: 12px 24px !important;
	border-radius: 0 !important;
}

.paypal-btn {

	width: 100%;
}

.checkout-back-btn {
	position: fixed !important;
	background-color: #f5f5f590 !important;
	margin-top: -32px !important;
	margin-left: 16px !important;
	z-index: 100000;
	color: #000000 !important;
	border-radius: 0 !important;
}

.btn {
	background-color: #000000 !important;
	color: #ffffff !important;
	padding: 12px 24px !important;
	border-radius: 0 !important;
}
.btn-outlined {
	color: #000000 !important;
	padding: 10px 24px !important;
	border-radius: 0 !important;
	border: #000000 solid 1px !important;
}
.btn-std {
	color: #000000 !important;
	background-color: #f5f5f590 !important;
	border-radius: 0 !important;
}

.product-drawer-add-cart-btn:disabled, .btn:disabled {
	background: #00000042 !important;
}

.toggle-btn {
	border-radius: 0 !important;
}

.item-selected {
	background-color: #3c3c3c !important;
  	color: #f3f3f3 !important;
}

.text-input {
	border-radius: 0 !important;
}

.radio-root, .checkbox-root {
	color: #00000099 !important;
}
.radio-checked, .checkbox-checked {
	color: #000000 !important;
}

.radio-disabled, .checkbox-disabled {
	color: #00000042 !important;
}