.nav-drawer {
	min-width: 248px;
	margin: auto;
	padding-bottom: 64px;
	z-index: 0;
}

.order-history-card {
	padding: 0 96px !important;
}

.order-history-date {
	padding: 24px 2px !important;
	border-radius: 0 !important;
}

.calendar-selected:not([disabled]),
.calendar-selected:focus:not([disabled]),
.calendar-selected:active:not([disabled]),
.calendar-selected:hover:not([disabled]) {
	background-color: #000000;
	color: #ffffff;
	border-radius: 0;
}

.calendar-today {
	background-color: #000000;
	color: #ffffff;
	border-radius: 0;
}

.clear-date-btn {
	padding: 0;
}

.product-edit-drawer {
	min-height: 100vh !important;
	max-height: 100vh !important;
	max-width: 600px;
	margin: auto;
	padding-bottom: 64px;
	z-index: 0;
}


.text-input {
	border-radius: 0 !important;
}

.zones-input {
	border-radius: 0 !important;
	padding: 0 !important;
}

.btn {
	background-color: #000000 !important;
	color: #ffffff !important;
	padding: 12px 24px !important;
	border-radius: 0 !important;
}

.btn:disabled {
	background: #00000042 !important;
}

.page-chip {
	border-radius: 0 !important;		
}

.zone-add-btn {
	background-color: #000000 !important;
	color: #ffffff !important;
	
	border-radius: 0 !important;
}

.zone-add-btn-root {
	min-width: 32px !important;
	padding: 6px 8px !important;
}

.zone-delete-btn {
	background-color: #d32f2f !important;
	color: #ffffff !important;
	padding: 4px 0px !important;
	border-radius: 0 !important;
}

.zone-delete-btn:disabled {
	background: #00000042 !important;
}

.zone-save-btn {
	background-color: #000000 !important;
	color: #ffffff !important;
	padding: 16px 0px !important;
	border-radius: 0 !important;
}

.zone-save-btn:disabled {
	background: #00000042 !important;
}

.zone-btn-root {
	min-width: 100% !important;
}


.error-dialog {

	border-radius: 0 !important;

}


.nav-item-selected {

	background-color: #3c3c3c !important;
  color: #f3f3f3 !important;

}

.status-view-selected {

	background-color: #3c3c3c !important;
    color: #f3f3f3 !important;

}

.product-edit-upload-btn {
	position: absolute !important;
	top: 8px;
	background-color: #000000 !important;
	color: #ffffff !important;
	padding: 6px 12px !important;
	border-radius: 0 !important;
}

.product-edit-upload-img {
	height: 256px;
	width: 256px;
}

.product-edit-close-btn {
	position: fixed !important;
	color: #ffffff !important;
	background-color: #000000 !important;
	margin-top: 12vh !important;
	margin-left: 6px !important;
	z-index: 100000;
	padding: 2px !important;
}

.product-delete-btn {
	background-color: #d32f2f !important;
	color: #ffffff !important;
	padding: 6px 24px !important;
	border-radius: 0 !important;
}

.product-add-btn {
	background-color: #000000 !important;
	color: #ffffff !important;
	padding: 6px 24px !important;
	border-radius: 0 !important;
}


.product-move-btn {
	padding: 0 !important;

}

.product-move-btn:disabled {
	color: #00000042 !important;
	
}


.category-edit-drawer {
	min-height: 100vh !important;
	max-height: 100vh !important;
	max-width: 600px;
	margin: auto;
	padding-bottom: 64px;
	z-index: 0;
}

.optiongroup-edit-drawer {
	min-height: 100vh !important;
	max-height: 100vh !important;
	max-width: 600px;
	margin: auto;
	padding-bottom: 64px;
	z-index: 0;
}


.option-edit-drawer {
	max-width: 520px;
	margin: auto;
	z-index: 0;
}

.option-edit-close-btn {
	position: fixed !important;
	color: #ffffff !important;
	background-color: #000000 !important;
	margin-top: 12px !important;
	margin-left: 6px !important;
	z-index: 100000;
	padding: 2px !important;
}

.timegroup-display-time {

	padding: 24px !important;
	border-radius: 0 !important;

}

.timegroup-days {
	border-radius: 0 !important;
	width: 104px;
	height: 52px;
}


.timegroup-edit-drawer {
	min-height: 100vh !important;
	max-height: 100vh !important;
	max-width: 852px;
	padding-bottom: 40px;
	margin: auto;
	z-index: 0;
}

.timegroup-categories {
	border-radius: 0 !important;
	padding: 6px 18px !important;
}


/******************
 * 
 * Time slider styles
 * 
*******************/

.timeslider-mark {
	height: 16px !important;
	width: 1px !important;
	background-color: #8d8d8d !important;
}

.timeslider-mark[data-index="0"],
.timeslider-mark[data-index="8"], 
.timeslider-mark[data-index="16"],
.timeslider-mark[data-index="24"],
.timeslider-mark[data-index="32"],
.timeslider-mark[data-index="40"],
.timeslider-mark[data-index="48"],
.timeslider-mark[data-index="56"],
.timeslider-mark[data-index="64"],
.timeslider-mark[data-index="72"],
.timeslider-mark[data-index="80"],
.timeslider-mark[data-index="88"],
.timeslider-mark[data-index="96"] {
	height: 52px !important;
	width: 1px !important;
	background-color: #8d8d8d !important;
}


.timeslider-markLabel {
	padding-top: 28px;
}

.timeslider-thumb {
  color: #000000;
  border-radius: 0 !important;
  width: 8px !important;
  height: 40px !important;
}
.timeslider-rail {
  color: #999999;
}
.timeslider-track {
  color: #666666;
}

.timeslider-active, .timeslider-thumb:hover {
	background-color: #000000 !important;
	box-shadow: 0px 0px 0px 8px rgb(56 56 56 / 16%) !important;
}


/******************
 * 
 * Zone slider styles
 * 
*******************/

.zoneslider-root {
	padding-top: 8px !important;
}

.zoneslider-mark {
	height: 4px !important;
	width: 1px !important;
	background-color: #8d8d8d !important;
}

.zoneslider-mark[data-index="4"],
.zoneslider-mark[data-index="8"],
.zoneslider-mark[data-index="12"],
.zoneslider-mark[data-index="16"],
.zoneslider-mark[data-index="20"],
.zoneslider-mark[data-index="24"],
.zoneslider-mark[data-index="28"],
.zoneslider-mark[data-index="32"],
.zoneslider-mark[data-index="36"],
.zoneslider-mark[data-index="40"],
.zoneslider-mark[data-index="44"],
.zoneslider-mark[data-index="48"] {
	height: 16px !important;
	width: 1px !important;
	background-color: #8d8d8d !important;
}

.zoneslider-mark[data-index="1"],
.zoneslider-mark[data-index="50"] {
	height: 10px !important;
	width: 1px !important;
	background-color: #8d8d8d !important;
}

.zoneslider-mark[data-index="0"] {
	visibility: hidden;
}

.zoneslider-markLabel {
	padding-top: 0px;
	margin-top: -8px;
}

.zoneslider-thumb {
  color: #000000;
  border-radius: 0 !important;
  width: 8px !important;
  height: 20px !important;
}
.zoneslider-rail {
  color: #999999;
}
.zoneslider-track {
  color: #666666;
}

.zoneslider-active, .zoneslider-thumb:hover {
	background-color: #000000 !important;
	box-shadow: 0px 0px 0px 8px rgb(56 56 56 / 16%) !important;
}
