body {
	background-image: url("public/bg6.jpg");
	background-size: cover;
	background-position: right;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
}


h1 { 
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	font-size: 42px;
}

h2 {
	font-size: 48px;
}

h5 {
	font-size: 28px;
}

img {
	max-height: 100%;
	max-width: 100%;
}

th {
	padding-right: 24px;
}

.h1-gradient {
	background-image: linear-gradient(90deg, #eb0506, #ed005a, #cf2694, #9953b7, #5769be, #1673ad);

	/* Set the background size and repeat properties. */
	background-size: 100%;
	background-repeat: repeat;

	/* Use the text as a mask for the background. */
	/* This will show the gradient as a text color rather than element bg. */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;

	float: left;
	width: 100%;
}

.main-container {
}

.sub-container {
	min-height: calc(100vh - 38px);
	padding-top: 10vh;
}

.footer {
	height: 38px;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	display: inline-block;
}
.footer-svg {
	height: 28px;
}

.hero-container {
	height: auto;
	margin-bottom: 64px;
}

.hero-heading {
	padding-top: 24px;
}

.hero-logo {
	height: auto;
	width: 350px;
	margin-bottom: 28px;
}

.hero-text {
	margin-top: 48px;
	margin-bottom: 12px;
}

.hero-heading-button-container {
	width: 350px;
}

.hero-heading-button {
	max-width: 100%;
	padding: 20px 48px;
	border-radius: 54px;
	font-size: 20px;
	background: #000000;
	color: #ffffff;
	border: none;
	font-weight: 600;
}

.hero-heading-button:hover {
	background: linear-gradient(180deg, #ff1f1f, #fb1c1c, #f61919, #f21615, #ed1212, #e90e0e, #e40a0a, #e00506);
	color: #ffffff;
	border: none;
}

.hero-heading-button:active {
	background: linear-gradient(0deg, #a81414, #ab1212, #ad1011, #b00e0f, #b20c0d, #b5090a, #b70708, #ba0405);
	color: #ffffff;
	border: none;
}

.hero-card {
	box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
    padding: 40px;
    background-color: #ffffff;
    margin-bottom: 64px;
}

.hero-card-phone {
	font-weight: bold;
}

.hero-card-table {

}

/* ##########################################   @MEDIA QUERIES   ######################################## */


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

	.hero-container {
		height: auto;
	}

}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

	body {
		font-size: 18px;
		background-position: center;
	}


	h1 { 
		font-size: 42px;
	}

	h2 {
		font-weight: bold;
		font-size: 28px;
	}

	h5 {
		font-size: 20px;
	}
	.footer {
		font-size: 18px;
	}
	.hero-container {
		height: auto;
	}	
	.hero-card { 
		padding: 24px;
	}

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

	body {
		background-position: center;
	}
	.hero-container {
		height: auto;
	}	

}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

	body {
		font-size: 22px;
		background-position: center;
	}
	th {
		text-align: right;
	}
	.footer {
		font-size: 18px;
	}
	.hero-container {
		height: auto;
		text-align: center;
	}
	.hero-logo {
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.hero-heading-button-container {
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.hero-heading-button {
		padding: 20px 42px;
	}
	.hero-card { 
		padding: 48px 8px;
		margin-left: 1px;
		margin-right: 1px;
		text-align: center;
	}
	.hero-card-phone {
		font-size: 42px;
		padding-bottom: 8px;
	}
	.hero-card-address, .hero-card-address2 {
		font-size: 24px;
	}
	.hero-card-table {
		margin-top: 10px;
	}

}